

      <!--================Breadcrumb Area =================-->
        <section class="breadcrumb_area" style="background: url(img/breadcrumb/breadcrumb-bg-6.jpg)">
        	<div class="container">
        		<div class="breadcrumb_inner">
        			<h3>Car Shop</h3>
        			<div class="link">
        				<a href="index.html">Home</a>
        				<a href="#">Shop</a>
        			</div>
        		</div>
        	</div>
        </section>
        <!--================End Breadcrumb Area =================-->

        <!--================Product Area =================-->
        <section class="main_product_area p_100">
        	<div class="container">
        		<div class="row main_product_inner flex-row-reverse">
        			<div class="col-lg-9">
        				<div class="car_found d-flex justify-content-between border-none">
        					<div class="left">
        						<p>Showing 1–9 of 12 results</p>
        					</div>
        					<div class="right">
        						<div class="grid">
        							<a class="active" href="#"><i class="icon-th"></i></a>
        							<a href="#"><i class="icon-list-ul"></i></a>
        						</div>
        						<div class="price_filter">
        							<h5>Sort by: </h5>
									<select class="nice_select">
										<option value="1">Lowest Price</option>
										<option value="2">Medium Price</option>
										<option value="3">High Price</option>
									</select>
        						</div>
        					</div>
        				</div>
        				<div class="product_grid_inner">
        					<div class="row">
        						<div class="col-lg-4 col-md-4 col-sm-6 wow animated fadeInUp" data-wow-delay="0.2s">
        							<div class="l_collection_item shop_product_item orange grid_four red">
										<div class="car_img">
											<a href="product-details.html"><img class="img-fluid" src="img/product/car-grid-four/car-2.jpg" alt=""></a>
                                            <div class="cart_option">
                                                <a href="#"><i class="ti-heart"></i></a>
                                                <a href="#"><i class="ti-shopping-cart-full"></i></a>
                                            </div>
										</div>
										<div class="text_body">
											<a href="product-details.html"><h4>La Ferrari Coupe</h4></a>
											<div class="price">
                                                <del><span class="woocommerce-Price-amount amount"><span class="woocommerce-Price-currencySymbol">$</span>56</span></del>
                                                <ins><span class="woocommerce-Price-amount amount"><span class="woocommerce-Price-currencySymbol">$</span>42</span></ins>
								            </div>
										</div>
									</div>
        						</div>
        						<div class="col-lg-4 col-md-4 col-sm-6 wow animated fadeInUp" data-wow-delay="0.3s">
        						    <div class="l_collection_item shop_product_item orange grid_four red">
										<div class="car_img">
											<a href="product-details.html"><img class="img-fluid" src="img/product/car-grid-four/car-3.jpg" alt=""></a>
                                            <div class="cart_option">
                                                <a href="#"><i class="ti-heart"></i></a>
                                                <a href="#"><i class="ti-shopping-cart-full"></i></a>
                                            </div>
										</div>
										<div class="text_body">
											<a href="product-details.html"><h4>Audi A8 Hybrid</h4></a>
											<div class="price">
                                                <del><span class="woocommerce-Price-amount amount"><span class="woocommerce-Price-currencySymbol">$</span>106</span></del>
                                                <ins><span class="woocommerce-Price-amount amount"><span class="woocommerce-Price-currencySymbol">$</span>42</span></ins>
								            </div>
										</div>
                                    </div>
								</div>
								<div class="col-lg-4 col-md-4 col-sm-6 wow animated fadeInUp" data-wow-delay="0.4s">
								    <div class="l_collection_item shop_product_item orange grid_four red">
										<div class="car_img">
											<a href="product-details.html"><img class="img-fluid" src="img/product/car-grid-four/car-4.jpg" alt=""></a>
                                            <div class="cart_option">
                                                <a href="#"><i class="ti-heart"></i></a>
                                                <a href="#"><i class="ti-shopping-cart-full"></i></a>
                                            </div>
										</div>
										<div class="text_body">
											<a href="product-details.html"><h4>Ford Mustang GT</h4></a>
											<div class="price">
                                                <del><span class="woocommerce-Price-amount amount"><span class="woocommerce-Price-currencySymbol">$</span>106</span></del>
                                                <ins><span class="woocommerce-Price-amount amount"><span class="woocommerce-Price-currencySymbol">$</span>42</span></ins>
								            </div>
										</div>
                                    </div>
								</div>
								<div class="col-lg-4 col-md-4 col-sm-6 wow animated fadeInUp" data-wow-delay="0.5s">
        							<div class="l_collection_item shop_product_item orange grid_four red">
										<div class="car_img">
											<a href="product-details.html"><img class="img-fluid" src="img/product/car-grid-four/car-5.jpg" alt=""></a>
                                            <div class="cart_option">
                                                <a href="#"><i class="ti-heart"></i></a>
                                                <a href="#"><i class="ti-shopping-cart-full"></i></a>
                                            </div>
										</div>
										<div class="text_body">
											<a href="product-details.html"><h4>La Ferrari Coupe</h4></a>
											<div class="price">
                                                <del><span class="woocommerce-Price-amount amount"><span class="woocommerce-Price-currencySymbol">$</span>56</span></del>
                                                <ins><span class="woocommerce-Price-amount amount"><span class="woocommerce-Price-currencySymbol">$</span>42</span></ins>
								            </div>
										</div>
									</div>
        						</div>
        						<div class="col-lg-4 col-md-4 col-sm-6 wow animated fadeInUp" data-wow-delay="0.6s">
        						    <div class="l_collection_item shop_product_item orange grid_four red">
										<div class="car_img">
											<a href="product-details.html"><img class="img-fluid" src="img/product/car-grid-four/car-6.jpg" alt=""></a>
                                            <span class="onsale">Sale!</span>
                                            <div class="cart_option">
                                                <a href="#"><i class="ti-heart"></i></a>
                                                <a href="#"><i class="ti-shopping-cart-full"></i></a>
                                            </div>
										</div>
										<div class="text_body">
											<a href="product-details.html"><h4>Audi A8 Hybrid</h4></a>
											<div class="price">
                                                <del><span class="woocommerce-Price-amount amount"><span class="woocommerce-Price-currencySymbol">$</span>106</span></del>
                                                <ins><span class="woocommerce-Price-amount amount"><span class="woocommerce-Price-currencySymbol">$</span>42</span></ins>
								            </div>
										</div>
                                    </div>
								</div>
								<div class="col-lg-4 col-md-4 col-sm-6 wow animated fadeInUp" data-wow-delay="0.7s">
								    <div class="l_collection_item shop_product_item orange grid_four red">
										<div class="car_img">
											<a href="product-details.html"><img class="img-fluid" src="img/product/car-grid-four/car-7.jpg" alt=""></a>
                                            <div class="cart_option">
                                                <a href="#"><i class="ti-heart"></i></a>
                                                <a href="#"><i class="ti-shopping-cart-full"></i></a>
                                            </div>
										</div>
										<div class="text_body">
											<a href="product-details.html"><h4>Ford Mustang GT</h4></a>
											<div class="price">
                                                <del><span class="woocommerce-Price-amount amount"><span class="woocommerce-Price-currencySymbol">$</span>106</span></del>
                                                <ins><span class="woocommerce-Price-amount amount"><span class="woocommerce-Price-currencySymbol">$</span>42</span></ins>
								            </div>
										</div>
                                    </div>
								</div>
        						<div class="col-lg-4 col-md-4 col-sm-6 wow animated fadeInUp" data-wow-delay="0.8s">
        						    <div class="l_collection_item shop_product_item orange grid_four red">
										<div class="car_img">
											<a href="product-details.html"><img class="img-fluid" src="img/product/car-grid-four/car-8.jpg" alt=""></a>
                                            <div class="cart_option">
                                                <a href="#"><i class="ti-heart"></i></a>
                                                <a href="#"><i class="ti-shopping-cart-full"></i></a>
                                            </div>
										</div>
										<div class="text_body">
											<a href="product-details.html"><h4>Audi A8 Hybrid</h4></a>
											<div class="price">
                                                <del><span class="woocommerce-Price-amount amount"><span class="woocommerce-Price-currencySymbol">$</span>106</span></del>
                                                <ins><span class="woocommerce-Price-amount amount"><span class="woocommerce-Price-currencySymbol">$</span>42</span></ins>
								            </div>
										</div>
                                    </div>
								</div>
								<div class="col-lg-4 col-md-4 col-sm-6 wow animated fadeInUp" data-wow-delay="0.9s">
        							<div class="l_collection_item shop_product_item orange grid_four red">
										<div class="car_img">
											<a href="product-details.html"><img class="img-fluid" src="img/product/car-grid-four/car-9.jpg" alt=""></a>
                                            <div class="cart_option">
                                                <a href="#"><i class="ti-heart"></i></a>
                                                <a href="#"><i class="ti-shopping-cart-full"></i></a>
                                            </div>
										</div>
										<div class="text_body">
											<a href="product-details.html"><h4>La Ferrari Coupe</h4></a>
											<div class="price">
                                                <del><span class="woocommerce-Price-amount amount"><span class="woocommerce-Price-currencySymbol">$</span>56</span></del>
                                                <ins><span class="woocommerce-Price-amount amount"><span class="woocommerce-Price-currencySymbol">$</span>42</span></ins>
								            </div>
										</div>
									</div>
        						</div>
        						<div class="col-lg-4 col-md-4 col-sm-6 wow animated fadeInUp" data-wow-delay="1s">
        						    <div class="l_collection_item shop_product_item orange grid_four red">
										<div class="car_img">
											<a href="product-details.html"><img class="img-fluid" src="img/product/car-grid-four/car-10.jpg" alt=""></a>
                                            <div class="cart_option">
                                                <a href="#"><i class="ti-heart"></i></a>
                                                <a href="#"><i class="ti-shopping-cart-full"></i></a>
                                            </div>
										</div>
										<div class="text_body">
											<a href="product-details.html"><h4>Audi A8 Hybrid</h4></a>
											<div class="price">
                                                <del><span class="woocommerce-Price-amount amount"><span class="woocommerce-Price-currencySymbol">$</span>106</span></del>
                                                <ins><span class="woocommerce-Price-amount amount"><span class="woocommerce-Price-currencySymbol">$</span>42</span></ins>
								            </div>
										</div>
                                    </div>
								</div>
								<div class="col-lg-4 col-md-4 col-sm-6 wow animated fadeInUp" data-wow-delay="1.1s">
								    <div class="l_collection_item shop_product_item orange grid_four red">
										<div class="car_img">
											<a href="product-details.html"><img class="img-fluid" src="img/product/car-grid-four/car-11.jpg" alt=""></a>
                                            <div class="cart_option">
                                                <a href="#"><i class="ti-heart"></i></a>
                                                <a href="#"><i class="ti-shopping-cart-full"></i></a>
                                            </div>
										</div>
										<div class="text_body">
											<a href="product-details.html"><h4>Ford Mustang GT</h4></a>
											<div class="price">
                                                <del><span class="woocommerce-Price-amount amount"><span class="woocommerce-Price-currencySymbol">$</span>106</span></del>
                                                <ins><span class="woocommerce-Price-amount amount"><span class="woocommerce-Price-currencySymbol">$</span>42</span></ins>
								            </div>
										</div>
                                    </div>
								</div>

								<div class="col-lg-4 col-md-4 col-sm-6 wow animated fadeInUp" data-wow-delay="1s">
        						    <div class="l_collection_item shop_product_item orange grid_four red">
										<div class="car_img">
											<a href="product-details.html"><img class="img-fluid" src="img/product/car-grid-four/car-12.jpg" alt=""></a>
                                            <div class="cart_option">
                                                <a href="#"><i class="ti-heart"></i></a>
                                                <a href="#"><i class="ti-shopping-cart-full"></i></a>
                                            </div>
										</div>
										<div class="text_body">
											<a href="product-details.html"><h4>Audi A8 Hybrid</h4></a>
											<div class="price">
                                                <del><span class="woocommerce-Price-amount amount"><span class="woocommerce-Price-currencySymbol">$</span>106</span></del>
                                                <ins><span class="woocommerce-Price-amount amount"><span class="woocommerce-Price-currencySymbol">$</span>42</span></ins>
								            </div>
										</div>
                                    </div>
								</div>
								<div class="col-lg-4 col-md-4 col-sm-6 wow animated fadeInUp" data-wow-delay="1.1s">
								    <div class="l_collection_item shop_product_item orange grid_four red">
										<div class="car_img">
											<a href="product-details.html"><img class="img-fluid" src="img/product/car-grid-four/car-13.jpg" alt=""></a>
                                            <div class="cart_option">
                                                <a href="#"><i class="ti-heart"></i></a>
                                                <a href="#"><i class="ti-shopping-cart-full"></i></a>
                                            </div>
										</div>
										<div class="text_body">
											<a href="product-details.html"><h4>Ford Mustang GT</h4></a>
											<div class="price">
                                                <del><span class="woocommerce-Price-amount amount"><span class="woocommerce-Price-currencySymbol">$</span>106</span></del>
                                                <ins><span class="woocommerce-Price-amount amount"><span class="woocommerce-Price-currencySymbol">$</span>42</span></ins>
								            </div>
										</div>
                                    </div>
								</div>
        					</div>
        				</div>
        				<nav aria-label="Page navigation example" class="pagination justify-content-center">
        					<ul class="pagination">
        						<li class="page-item"><a class="page-link" href="#"><i class="icon-arrow"></i></a></li>
        						<li class="page-item active"><a class="page-link" href="#">1</a></li>
        						<li class="page-item"><a class="page-link" href="#">2</a></li>
        						<li class="page-item"><a class="page-link" href="#">3</a></li>
        						<li class="page-item"><a class="page-link" href="#">4</a></li>
        						<li class="page-item"><a class="page-link" href="#">5</a></li>
        						<li class="page-item"><a class="page-link" href="#">6..</a></li>
        						<li class="page-item"><a class="page-link" href="#"><i class="icon-arrow_2"></i></a></li>
        					</ul>
        				</nav>
        			</div>
        			<div class="col-lg-3">
        				<div class="shop_product_sidebar">
        					<aside class="r_widget search_widget">
								<div class="input-group">
									<input type="text" class="form-control" placeholder="Search...">
									<div class="input-group-append">
										<button class="btn" type="button"><i class="icon-search1"></i></button>
									</div>
								</div>
        					</aside>
        					<aside class="r_widget widget_price_filter">
                                <div class="r_title">
									<h3>Filter by price</h3>
								</div>
        					    <div class="price_wd_inner">
                                    <div id="price_wd"></div>
                                    <label for="amount">Price:</label>
                                    <input type="text" id="amount" readonly>
                                </div>
        					</aside>
        					<aside class="r_widget news_widget">
        						<div class="r_title">
									<h3>Products</h3>
								</div>
       							<div class="news_inner">
       								<div class="media">
       									<div class="d-flex">
       										<img src="img/blog/l-news/l-news-1.jpg" alt="">
       									</div>
       									<div class="media-body">
       										<a href="product-details.html"><h4>Jaguer M1 Hybrid</h4></a>
       										<span class="woocommerce-Price-amount amount"><bdi><span class="woocommerce-Price-currencySymbol">$</span>39</bdi></span>
       									</div>
       								</div>
       								<div class="media">
       									<div class="d-flex">
       										<img src="img/blog/l-news/l-news-2.jpg" alt="">
       									</div>
       									<div class="media-body">
       										<a href="product-details.html"><h4>Lambo Gallardo</h4></a>
       										<span class="woocommerce-Price-amount amount"><bdi><span class="woocommerce-Price-currencySymbol">$</span>59</bdi></span>
       									</div>
       								</div>
       								<div class="media">
       									<div class="d-flex">
       										<img src="img/blog/l-news/l-news-3.jpg" alt="">
       									</div>
       									<div class="media-body">
       										<a href="product-details.html"><h4>Ferrari 356</h4></a>
       										<span class="woocommerce-Price-amount amount"><bdi><span class="woocommerce-Price-currencySymbol">$</span>100</bdi></span>
       									</div>
       								</div>
       							</div>
        					</aside>
        					<aside class="r_widget categories_widget">
								<div class="r_title">
									<h3>Product categories</h3>
								</div>
       							<ul class="list">
       								<li><a href="#"><i class="icon-caret-right"></i>Coffeepots Teapots <span>(16)</span></a></li>
       								<li><a href="#"><i class="icon-caret-right"></i>Interior <span>(20)</span></a></li>
       								<li><a href="#"><i class="icon-caret-right"></i>Car Event <span>(10)</span></a></li>
       								<li><a href="#"><i class="icon-caret-right"></i>Speed on Track <span>(12)</span></a></li>
       								<li><a href="#"><i class="icon-caret-right"></i>Exterior <span>(5)</span></a></li>
       								<li><a href="#"><i class="icon-caret-right"></i>Car Expo World <span>(14)</span></a></li>
       							</ul>
        					</aside>
        				</div>
        			</div>
        		</div>
        	</div>
        </section>
        <!--================End Product Area =================-->


        <!--================Cart Sidebar Area =================-->
        <div class="cart_sidebar">
        	<div class="cart_sidebar_inner">
        		<div class="sidebar_top">
        			<div class="top_bar d-flex justify-content-between">
        				<h3>Shopping Cart</h3>
        				<div class="cart_close_btn">
        					<p>Close <i class="ti-minus"></i></p>
        				</div>
        			</div>
        			<div class="cart_side_list">
        				<div class="media">
							<div class="d-flex"><img src="img/product/cart-details/cart-1.jpg" alt=""></div>
							<div class="media-body">
								<h4>Smart light wood edition</h4>
								<p>1 x <span>$40.00</span></p>
								<i class="ti-close"></i>
							</div>
						</div>
						<div class="media">
							<div class="d-flex"><img src="img/product/cart-details/cart-1.jpg" alt=""></div>
							<div class="media-body">
								<h4>Smart light wood edition</h4>
								<p>1 x <span>$40.00</span></p>
								<i class="ti-close"></i>
							</div>
						</div>
        			</div>
        		</div>
        		<div class="sidebar_bottom">
        			<h5>Sub Total</h5>
        			<h6>$200.00</h6>
        			<a class="main_btn red border" href="#">View Cart</a>
        			<a class="main_btn red" href="#">Checkout</a>
        		</div>
        	</div>
        </div>
        <!--================End Cart Sidebar Area =================-->
