        <!--================Breadcrumb Area =================-->
        <section class="breadcrumb_area" style="background: url(img/breadcrumb/breadcrumb-bg-5.jpg)">
        	<div class="container">
        		<div class="breadcrumb_inner">
        			<h3>Terms and Condtions</h3>
        			<div class="link">
        				<a href="index.html">Home</a>
        				<a href="#">Faq’s</a>
        			</div>
        		</div>
        	</div>
        </section>
        <!--================End Breadcrumb Area =================-->

        <!--================General Question Area =================-->
        <section class="general_ques_area p_100">
        	<div class="container">
        		<div class="flag_center_title wow animated fadeInUp" data-wow-delay="0.2s">
        			<h2><img src="img/icon/flag-2.png" alt=""> General Questions</h2>
        		</div>
        		<div class="general_ques_inner">
        			<div class="accordion" id="accordionExample">
        				<div class="card">
        					<div class="card-header" id="headingOne">
								<button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
									When do I get charged for a ride?
									<i class="ti-plus"></i>
									<i class="ti-minus"></i>
								</button>
							</div>
        					<div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
        						<div class="card-body">
        							Working with over 900 companies in 160 countries, we can find the right car in the right place, at the right price. Working with over 900 companies in 160 countries, we can find the right car in the right place, at the right price.
        						</div>
        					</div>
        				</div>
        				<div class="card">
        					<div class="card-header" id="headingTwo">
								<button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
									Can I pay for an trip with cash?
									<i class="ti-plus"></i>
									<i class="ti-minus"></i>
								</button>
        					</div>
        					<div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
        						<div class="card-body">
        							Working with over 900 companies in 160 countries, we can find the right car in the right place, at the right price. Working with over 900 companies in 160 countries, we can find the right car in the right place, at the right price.
        						</div>
        					</div>
        				</div>
        				<div class="card">
        					<div class="card-header" id="headingThree">
								<button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
									Can I pay for an trip with credit card or online?
									<i class="ti-plus"></i>
									<i class="ti-minus"></i>
								</button>
        					</div>
        					<div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
        						<div class="card-body">
        							Working with over 900 companies in 160 countries, we can find the right car in the right place, at the right price. Working with over 900 companies in 160 countries, we can find the right car in the right place, at the right price.
        						</div>
        					</div>
        				</div>
        				<div class="card">
        					<div class="card-header" id="headingfour">
								<button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapsefour" aria-expanded="false" aria-controls="collapsefour">
									Can I get a ride from an airport?
									<i class="ti-plus"></i>
									<i class="ti-minus"></i>
								</button>
        					</div>
        					<div id="collapsefour" class="collapse" aria-labelledby="headingfour" data-parent="#accordionExample">
        						<div class="card-body">
        							Working with over 900 companies in 160 countries, we can find the right car in the right place, at the right price. Working with over 900 companies in 160 countries, we can find the right car in the right place, at the right price.
        						</div>
        					</div>
        				</div>
        				<div class="card">
        					<div class="card-header" id="headingfive">
								<button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapsefive" aria-expanded="false" aria-controls="collapsefive">
									How do I get a price estimate in the app?
									<i class="ti-plus"></i>
									<i class="ti-minus"></i>
								</button>
        					</div>
        					<div id="collapsefive" class="collapse" aria-labelledby="headingfive" data-parent="#accordionExample">
        						<div class="card-body">
        							Working with over 900 companies in 160 countries, we can find the right car in the right place, at the right price. Working with over 900 companies in 160 countries, we can find the right car in the right place, at the right price.
        						</div>
        					</div>
        				</div>
        			</div>
        		</div>
        	</div>
        </section>
        <!--================End General Question Area =================-->

        <!--================Question Form Area =================-->
        <section class="qustion_form_area pad_btm">
        	<div class="container">
        		<div class="flag_center_title wow animated fadeInUp" data-wow-delay="0.2s">
        			<h2><img src="img/icon/flag-2.png" alt=""> Ask a Question</h2>
        		</div>
        		<div class="question_form_inner">
        			<form class="row contact_form" action="contact_process.php" method="post" id="contactForm" novalidate="novalidate">
						<div class="form-group col-md-6">
							<input type="text" class="form-control" id="name" name="name" placeholder="Name">
						</div>
						<div class="form-group col-md-6">
							<input type="text" class="form-control" id="number" name="number" placeholder="Phone">
						</div>
						<div class="form-group col-md-6">
							<input type="email" class="form-control" id="email" name="email" placeholder="Email">
						</div>
						<div class="form-group col-md-6">
							<select class="nice_select">
								<option value="1">Select Service</option>
								<option value="2">Select Service</option>
								<option value="4">Select Service</option>
							</select>
						</div>
						<div class="form-group col-md-12">
							<textarea class="form-control" name="message" id="message" rows="1" placeholder="Message"></textarea>
						</div>
						<div class="form-group col-md-12">
							<button type="submit" value="submit" class="btn submit_btn red form-control">Ask now</button>
						</div>
					</form>
        		</div>
        	</div>
        </section>
        <!--================End Question Form Area =================-->
        <div class="container">
        	<div class="solid_br"></div>
        </div>
